*{
    box-sizing: border-box;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: 95%;
    margin: 20px auto;
}
h1 {
    color: hsl(300, 43%, 22%);
    font-size: 40px;
    text-align: start;
}
.A{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center; 
    align-content: center;
    background-image: url(./images/bg-pattern-top-desktop.svg);
    background-size: 50%;
    background-repeat: no-repeat;
   
    
}
.pg{
    color: hsl(303, 10%, 53%) ;
    width: 500px;
    height: 300px;
    text-align: center;
    padding: 20px;
}
div{
    padding: 10px;
}
.box{
  
    width: 520px;
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-areas:
    "one one .."
    "..three three"; 
}
.one{
    grid-area: one;
    

}
.two{
    grid-area: two;
}

.three{
    grid-area: three;

}
h5{
    text-align: center;
    position: relative;
    bottom: 10px;
}
.stars{
    height: 60px;
    border-radius: 4px;
    background-color: hsl(300, 24%, 96%);
    display: grid;
    grid-template-columns:120px 250px;
    margin: 5px auto;

}
.dec{
  position: relative;
  bottom: 8px;
}
.B{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
    align-content: center;
    background-image: url(./bottom.svg);
    background-size: 50%;
    background-repeat: no-repeat;
}
.card{
    background-color: hsl(300, 43%, 22%);
    width: 370px;
    height: 270px;
    margin: 5px auto;
    border-radius: 4px;
    color: hsl(0, 0%, 100%);
 }
.img{
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 5%;

}
.var{
    color: hsl(333, 80%, 67%);
    position: relative;
    left: 35%;
    bottom: 85px;
}
.name{
    position: relative;
    left: 35%;
    bottom: 90px;
}
.irenne{
    position: relative;
    top: 20px;
}
.anne{
    position: relative;
    top: 40px;
}
h6{
    margin: 10px auto;
    text-align: start;
    font-size: 15px;
    position: relative;
    bottom: 70px;
    opacity: 70%;
    font-size: 15px;
}
.one{
    margin-left: 10px;
}
@media (max-width:650px){
    .box{
        grid-template-columns: 1fr ;
        grid-template-areas: 
        "one " "two" " three";
    }
   .star{
       width: 360px;
       height: 70px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   h1{
       width: 370px;
       text-align: center;
       
   }
   .title{
       text-align: center;
       position: relative;
       right: 120px;
       bottom: -5px;
       width: 370px;

   }
        
   img.dec{
    position: relative;
    top: -20px;
    left: 110%;
}
.pg{
    text-align: center;
    position: relative;
    left: 30px;
}
.one{
    position: relative;
    left: 15px;
}
     
    
}